<div class="form-container center-block push-down-large apply-shadow">

    <div class="panel-heading">
        <h4 class="text-center text-bold">

            {% block header %}
            {% endblock %}

        </h4>
    </div><!-- Close panel heading -->

    <div class="panel-body">

        {% block content %}
        {% endblock %}

    </div><!-- Close panel body -->
</div><!-- Close form container -->






