{% if notificationCount > 0  %}
    {# THIS IS THE COUNTER LOCATED ON THE NOTIFICATION ICON, SHOWING THE NUMBER OF NEW NOTIFICATIONS #}
    <span id="notification-counter" class="badge alert-danger"> {{ notificationCount }} </span>

{% endif %}
