{% extends 'templates/modalContainer.html.twig' %}

{% block header %}Password Rules{% endblock %}

{% block id %}password-rules{% endblock %}

{% block content %}

    <p>Password <strong>must</strong> be at least 8 characters and contain at least:</p>
    <ul>
        <li>one number</li>
        <li>one uppercase letter</li>
        <li>one lowercase letter</li>
        <li>one special character: ~!@#$%^&*()</li>
    </ul>

{% endblock %}