<div class="modal" data-backdrop="static" data-keyboard="false" id="spinner" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog text-center" role="document">
        <img style="width: 85px; height: 85px;" class="text-center" src="{{ asset('media/spinner.gif') }}">
    </div><!-- modal-dialog -->
</div><!-- modal -->