{# twig template #}

{#
|--------------------------------------------------------------------------
|
|--------------------------------------------------------------------------
|
|
#}
<div id="registrationSuccess" class="modal fade" role="document">
    <div class="modal-dialog">
        <div class="modal-container modal-content">
            <div class="modal-body"></div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="alert alert-success">
                 <strong>Registration Successful!</strong>
                </div>
          </div>
     </div>
</div>
