{# twig template #}
{% extends 'templates/public.html.twig' %}

{% block body %}

    <div class="col-xs-2"></div><!-- Empty column -->

    <div class="col-xs-8">
        <div class="container-fluid">

            {% include 'forms/resetPassword.html.twig' %}

        </div>
    </div>

    <div class="col-xs-2"></div><!-- Empty column -->

{% endblock %}



