{# twig template #}

{% extends 'templates/email.html.twig' %}

{% block emailBody %}

    <div class="row body-row">
        <div class="col-lg-12">
            <p>Greetings,</p>
            <p>
                The password for your {{ constant('APP_NAME', ewebify) }} account was recently changed. Please <a href="mailto:{{ constant('CUST_SUPP_EMAIL', ewebify) }}"> notify us immediately</a>, if you did not make this change.
            </p>

            <br/>
            <p>
                Thank you,
            </p>

            <p>
                The PapaLocal Team
                <br/><a href="tel:{{ constant('CUST_SUPP_PHONE', ewebify) }}">{{ constant('CUST_SUPP_PHONE', ewebify) }}</a>
            </p>

        </div>
    </div>

{% endblock %}