<div id="userPanel" role="tabpanel" class="apply-border clear-top-bottom-border tab-pane contour-inner-small secondary-background" >

    {% include 'forms/editable/userProfile/userAccountDetails.html.twig' %}
    {% include 'forms/editable/userProfile/userPersonalDetails.html.twig' %}

</div>

