{% extends 'templates/public.html.twig' %}

{% block body %}

    <div class="col-lg-2 col-md-2 col-sm-1"></div><!-- Empty column -->

    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
        <div class="container-fluid scrollable-layout">


            <p>This page is currently unavailable. Please check back soon, as we expect this temporary outage will be
            resolved soon.</p>


        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-1"></div>

{% endblock %}