{#
|--------------------------------------------------------------------------
| Public footer
|--------------------------------------------------------------------------
|
| This fragment contains the public footer.
|
#}

<div class="navbar-default navbar-fixed-bottom secondary-background apply-shadow contour-inner-small">
    <span class="secondary-color">&copy;{{ date()|date('Y') }} eWebify, LLC. All rights reserved</span>
</div>
