{% extends 'templates/modalContainer.html.twig' %}

{% block header %}Password Reset{% endblock %}

{% block id %}forgot-password{% endblock %}

{% block content %}

    <form role="form" name="forgotPassword" method="" action="" data-url="forgot-password" data-form-type="modal">

        {# flash alerts #}

        {% include 'fragments/alerts/formAlert.html.twig' %}

        {# FORM ELEMENT #}
        <div class="form-group">
            <div class="clear-side-padding col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group">
                <input type="email" name="username" class="form-control clear-border-radius" placeholder="Email Address" required/>
            </div>
        </div>

        {# SUBMIT BUTTON #}
        <div class="clear-side-padding col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <button type="submit" class="form-control button-primary push-down-small clear-border-radius">Send Email</button>
            </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('forgotPassword') }}" >

    </form>

{% endblock %}
