{#
|--------------------------------------------------------------------------
| Referral disputed.
|--------------------------------------------------------------------------
|
#}

{% extends 'templates/email.html.twig' %}

{% block emailBody %}

    <div class="row body-row">
        <div class="col-lg-12">
            <p>
                A referral has been disputed.
            </p>
        </div>
    </div>

{% endblock %}